<nav class="navbar navbar-default">

  <div class="container">

    <div class="navbar-header">

      <ul class="list-inline" id="perma_nav">

        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Cities', city_index_path %></li>

      </ul>

    </div>

  </div>

</nav>
